{% extends "main.j2" %}

{% block title %}
  Browse
{% endblock %}

{% block header %}
  <h1 id="top">Browse All Listed Organizations</h1>
<a class="nav-link" href="{{ url_for('advancedSearch') }}">Search Organizations</a>
{% endblock %}

{% block body %}

<div class='browse'>
    <img src="http://flip3.engr.oregonstate.edu:8545/?q=focus_on_the_family" class="img-thumbnail">
    <a href="{{ url_for('organizationPage', name='Focus on the Family', imgPath='http://flip3.engr.oregonstate.edu:8545/?q=focus_on_the_family') }}">Focus on the Family</a>

    <img src="http://flip3.engr.oregonstate.edu:8545/?q=American_Red_Cross" class="img-thumbnail">
    <a href="{{ url_for('organizationPage', name='American Red Cross', imgPath='http://flip3.engr.oregonstate.edu:8545/?q=American_Red_Cross') }}">American Red Cross</a>

    <img src="http://flip3.engr.oregonstate.edu:8545/?q=National_Cancer_Institute" class="img-thumbnail">
    <a href="{{ url_for('organizationPage', name='National Cancer Institute', imgPath='http://flip3.engr.oregonstate.edu:8545/?q=National_Cancer_Institute') }}">National Cancer Institute</a>

    <img src="http://flip3.engr.oregonstate.edu:8545/?q=City_of_Hope_National_Medical_Center" class="img-thumbnail">
    <a href="{{ url_for('organizationPage', name='City of Hope National Medical Center', imgPath='http://flip3.engr.oregonstate.edu:8545/?q=City_of_Hope_National_Medical_Center') }}">City of Hope National Medical Center</a>

    <img src="http://flip3.engr.oregonstate.edu:8545/?q=american%20heart%20association" class="img-thumbnail">
    <a href="{{ url_for('organizationPage', name='American Heart Association', imgPath='http://flip3.engr.oregonstate.edu:8545/?q=american%20heart%20association') }}">American Heart Association</a>

    <img src="http://flip3.engr.oregonstate.edu:8545/?q=AARP_Foundation" class="img-thumbnail">
    <a href="{{ url_for('organizationPage', name='The AARP Foundation', imgPath='http://flip3.engr.oregonstate.edu:8545/?q=AARP_Foundation') }}">The AARP Foundation</a>

    <img src="http://flip3.engr.oregonstate.edu:8545/?q=DoSomething" class="img-thumbnail">
    <a href="{{ url_for('organizationPage', name='Do Something Foundation', imgPath='http://flip3.engr.oregonstate.edu:8545/?q=DoSomething') }}">Do Something Foundation</a>  

    <img src="http://flip3.engr.oregonstate.edu:8545/?q=ford_foundation" class="img-thumbnail">
    <a href="{{ url_for('organizationPage', name='Ford Foundation', imgPath='http://flip3.engr.oregonstate.edu:8545/?q=ford_foundation') }}">Ford Foundation</a>       

    <img src="http://flip3.engr.oregonstate.edu:8545/?q=Girl_Scouts_of_the_USA" class="img-thumbnail">
    <a href="{{ url_for('organizationPage', name='Girl Scouts of America', imgPath='http://flip3.engr.oregonstate.edu:8545/?q=Girl_Scouts_of_the_USA') }}">Girl Scouts of America</a>

    <img src="http://flip3.engr.oregonstate.edu:8545/?q=Habitat_for_Humanity" class="img-thumbnail">
    <a href="{{ url_for('organizationPage', name='Habitat for Humanity', imgPath='http://flip3.engr.oregonstate.edu:8545/?q=Habitat_for_Humanity') }}">Habitat for Humanity</a>     

    <img src="http://flip3.engr.oregonstate.edu:8545/?q=The_Heritage_Foundation" class="img-thumbnail">
    <a href="{{ url_for('organizationPage', name='The Heritage Foundation', imgPath='http://flip3.engr.oregonstate.edu:8545/?q=The_Heritage_Foundation') }}">The Heritage Foundation</a>  

    <img src="http://flip3.engr.oregonstate.edu:8545/?q=Lions_Clubs_International" class="img-thumbnail">
    <a href="{{ url_for('organizationPage', name='Lions Club', imgPath='http://flip3.engr.oregonstate.edu:8545/?q=Lions_Clubs_International') }}">Lions Club</a>                 

    <img src="http://flip3.engr.oregonstate.edu:8545/?q=ford_foundation" class="img-thumbnail">
    <a href="{{ url_for('organizationPage', name='Ford Foundation', imgPath='http://flip3.engr.oregonstate.edu:8545/?q=ford_foundation') }}">Ford Foundation</a>      

    <img src="http://flip3.engr.oregonstate.edu:8545/?q=the_salvation_army" class="img-thumbnail">
    <a href="{{ url_for('organizationPage', name='The Salvation Army', imgPath='http://flip3.engr.oregonstate.edu:8545/?q=the_salvation_army') }}">The Salvation Army</a>

    <img src="http://flip3.engr.oregonstate.edu:8545/?q=Samaritans%20Purse" class="img-thumbnail">
    <a href="{{ url_for('organizationPage', name='Samaritans Purse', imgPath='http://flip3.engr.oregonstate.edu:8545/?q=Samaritans%20Purse') }}">Samaritan's Purse</a>             

    <br>
    <br>
    <br>
    <a href="#top">Return to Top</a>
</div>
  


{% endblock %}

